HUGGINGFACEHUB_API_TOKEN=your-secure-api-key-here
OPENAI_API_KEY=your-secure-api-key-here
LANGSMITH_API_KEY=your-secure-api-key-here
HF_TOKEN=your-secure-api-key-here

NEO4J_URI=neo4j://localhost:your-port-here
NEO4J_USERNAME=xxx
NEO4J_PASSWORD=xxx
NEO4J_DATABASE=xxx
NEO4J_KEEP_ALIVE=true

RERANK_BY_DEFAULT=True
RERANK_MODEL=BAAI/bge-reranker-v2-m3
RERANK_BINDING_HOST=http://localhost:8003/v1/rerank
RERANK_BINDING_API_KEY=empty

LLM_MODEL=Qwen/Qwen2.5-14B-Instruct-GPTQ-Int8
LLM_BINDING_HOST=http://localhost:8001/v1
LLM_BINDING_API_KEY=empty

LLM_AGENT_MODEL=Qwen/Qwen2.5-7B-Instruct-GPTQ-Int8 
LLM_AGENT_BINDING_HOST=http://localhost:8002/v1
LLM_AGENT_BINDING_API_KEY=empty

LIGHTRAG_API_URL=http://localhost:8080/chat/

ENTITY_TYPES='["Project_ID", "Code", "Person", "Email_Address", "Organization", "Shipper", "Consignee", "Carrier", "Role", "Location", "Address", "Date", "Event", "Operation_Phase", "Transport_Name", "Transportation_Service", "Cargo_Content", "Financial_Detail", "Quantity", "Unit", "Document", "Attachment", "Instruction", "Issue", "Concept"]'
ENABLE_LLM_CACHE=false
RELATED_CHUNK_NUMBER=8
CHUNK_TOP_K=13
MIN_RERANK_SCORE=0.2
TOP_K=60
MAX_ASYNC=4
MAX_PARALLEL_INSERT=2