HUGGINGFACEHUB_API_TOKEN=your-secure-api-key-here
OPENAI_API_KEY=your-secure-api-key-here
LANGSMITH_API_KEY=your-secure-api-key-here
HF_TOKEN=your-secure-api-key-here

NEO4J_URI=neo4j://localhost:your-port-here
NEO4J_USERNAME=xxx
NEO4J_PASSWORD=xxx
NEO4J_DATABASE=xxx
NEO4J_KEEP_ALIVE=true

RERANK_BY_DEFAULT=True
RERANK_MODEL=BAAI/bge-reranker-v2-m3
RERANK_BINDING_HOST=http://localhost:8003/v1/rerank
RERANK_BINDING_API_KEY=empty

LLM_MODEL=Qwen/Qwen2.5-14B-Instruct-GPTQ-Int8
LLM_BINDING_HOST=http://localhost:8001/v1
LLM_BINDING_API_KEY=empty

LLM_AGENT_MODEL=Qwen/Qwen2.5-3B-Instruct
LLM_AGENT_BINDING_HOST=http://localhost:8002/v1
LLM_AGENT_BINDING_API_KEY=empty

LIGHTRAG_API_URL=http://localhost:8080/chat/

ENTITY_TYPES='["Reference_Number", "Operation_Phase", "Code", "Person", "Email_Address", "Organization", "Client", "Location", "Destination", "Event", "Date" , "Shipper", "Cargo", "Cargo_Details", "Cost", "Concept", "Vessel", "Artifact", "Attachment", "Information"]'
RELATED_CHUNK_NUMBER=4
TOP_K=40